[Desktop Entry]
Type=Application
Version=0.2
Encoding=UTF-8
Name=qYaH3C
GenericName=H3C Auth Client
Comment=A GUI Version of YaH3C base on PyQt4
Exec=gksu --description "qYaH3C" 'qyah3c -style=gtk'
Icon=/usr/share/pixmaps/qYaH3C.png
Terminal=false
Categories=GNOME;Appliation;Network


